.libray_recent_uploaded_show_main {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.pdf_icon{
    width: 100px;
    height: 200px;
    color: #3C1874;
}
.pdf_link_mian{
  display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: -30px;
}